nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

h2 {
    color: #b71d1d;
}

li {
    color: white;
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

a {

    color: white;
}

nav ul li a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
    /* pour une animation douce */
}

nav ul li a:hover {
    background-color: #b71d1d;
    /* couleur de fond quand la souris est dessus */
    color: white;
    /* couleur du texte quand la souris est dessus */
    border-radius: 5px;
    /* coins arrondis */
}

.hero {
    background-image: url(./img8.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #b71d1d;
}

.section1 {
    margin: 2rem;
}

.propos {
    color: black;
    text-align: center;
}

.text1 {
    text-align: center;
    font-weight: bold;
}

.icon {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #d62828;
}

.div1 {
    display: flex;
    justify-content: space-around;

}

.img1 {
    width: 40%;
    height: auto;
}

.section2 {
    margin: 2rem;
}

h3 {
    text-align: center;
}

.div2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 11rem;
    margin-top: -3rem;
}

.accreditation {
    color: #d62828;
}

.div3,
.div5 {
    display: flex;
    justify-content: flex-end;
}

.div7 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
}

.div4 {
    background-color: #d62828;
    height: 08vh;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.div6 {
    background-color: black;
    height: 08vh;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.div4 {
    transition: transform 0.4s ease;
}

.div4:hover {
    transform: scale(1.03);
}

.div6 {
    transition: transform 0.4s ease;
}

.div6:hover {
    transform: scale(1.03);
}

.div8 {
    background-image: url(./img11.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div9 {
    background-color: rgba(255, 255, 255, 0.662);
    height: 40vh;
    width: 90%;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.div9 {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlide 1s forwards;
}

.div9:nth-child(2) {
    animation-delay: 0.3s;
}

.div9:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes fadeSlide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h3 {
    transition: transform 0.4s ease, color 0.4s ease;
}

h3:hover {
    transform: scale(1.2) translateY(-5px);
    color: #b71d1d;
    /* tu peux changer la couleur */
}

.p1 {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.p1:hover {
    transform: translateY(-5px);
    opacity: 1;
}

.div10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number {
    color: #d62828;
    font-size: 3rem;
}

.p1 {
    color: #d62828;
}

.section4 {
    background-color: white;
    color: black;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 1rem;

}
.section4  {
    transition: transform 0.4s ease;
}

.section4:hover  {
    transform: scale(1.03);
}

.hero-content {
    max-width: 600px;
}

.section4 h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.section4 p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.section4 input[type="email"] {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    margin-right: 10px;
}

.section4 button {
    padding: 10px 20px;
    border: none;
    background-color: #c0392b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.section4 button:hover {
    background-color: #e74c3c;
}

footer {
    padding: 2rem;
    background-color: black;
}

.footer {
    display: flex;
    justify-content: space-between;

}

.Liens {
    color: white;
    font-weight: bolder;
}

#icone {
    font-size: 1rem;
    color: white;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.liens {
    color: grey;
}

.ICONE {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.Copyright {
    color: white;
}

.Fin {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: gray;
}

/* responsive mobile*/
/* ----- MOBILE ----- */
@media (max-width: 767px) {
    #menuToggle {
        display: block;
        color: white;
        padding: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
    }

    nav.show ul {
        display: flex;
        /* quand le menu s’ouvre */
    }


    nav.show ul {
        display: flex;
        /* quand le menu s’ouvre */
    }

    .hero {
        position: relative;
        z-index: 2;
        max-width: 500px;
    }

    .Title {
        display: block;
        font-size: 1rem;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: black;
        padding: 1rem;
        gap: 1rem;
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    .div1 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .propos {
        color: black;
        text-align: center;
        font-size: 1rem;
    }

    .text1 {
        text-align: center;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .text2 {
        font-size: 0.7rem;
    }

    .icon {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        color: #d62828;
    }

    .section1 {
        margin: 1.5rem;
    }

    .section2 {
        margin: 1.5rem;
    }

    .img1 {
        width: 100%;
        height: auto;
    }

    .div2 {
        display: flex;
        justify-content: flex-end;
        margin-right: 08.5rem;
        margin-top: -1rem;
    }

    .accreditation {
        font-size: 1rem;
    }

    .div6,
    .div4 {
        font-size: 1rem;
        width: 100%;
    }

    .footer {
        display: flex;
        flex-direction: column;

    }

    #icone {
        color: white;
    }

    .ICONE {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
    }

    .Fin {
        display: flex;
        flex-direction: column;
    }

    .div11 {
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 55vh;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }

    .btn {
        font-size: 0.6rem;
        width: 88%;
    }

    input {
        padding: 0.4rem;
    }

    .p3 {
        font-size: 0.8rem;
    }

    .p2 {
        font-size: 0.7rem;
        margin-left: 1.3rem;
    }

    .div8 {
        background-image: url(./img11.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div9 {
        background-color: rgba(255, 255, 255, 0.662);
        height: 87vh;
        width: 90%;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    }

    .div10 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .number {
        color: #d62828;
        font-size: 1.5rem;
        font-weight: bolder;
    }

    .p1 {
        color: #d62828;
        font-size: 0.5rem;
    }

}

/* responsive mobile*/
/* ----- TABLETTE ----- */
@media (min-width: 768px) and (max-width:1023px) {
    .menu-icon {
        display: none;
    }

    .Title {
        font-size: 1rem;

    }

    .list {
        font-size: 0.8rem;
    }

    .hero {
        font-size: 1rem;
    }

    .text2 {
        font-size: 0.7rem;
    }

    .propos {
        color: black;
        text-align: center;
        font-size: 1rem;
    }

    .text1 {
        text-align: center;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .div1 {
        display: flex;
        justify-content: space-around;
        gap: 1rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    .div2 {
        display: flex;
        justify-content: flex-end;
        margin-right: 06rem;
        margin-top: -4rem;
    }

    .accreditation {
        font-size: 1rem;
    }

    .div6,
    .div4 {
        font-size: 1rem;
        width: 50%;
    }

    footer {
        padding: 2rem;
        background-color: black;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        gap: 9rem;
    }

    .Liens {
        color: white;
        font-weight: bolder;
    }

    #icone {
        font-size: 1rem;
        color: white;
    }

    ol {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .liens {
        color: grey;
    }

    .ICONE {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .Copyright {
        color: white;
    }

    .Fin {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .div8 {
        background-image: url(./img11.jpg);
        background-size: cover;
        background-position: center;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div9 {
        background-color: rgba(255, 255, 255, 0.662);
        height: 30vh;
        width: 90%;
        display: flex;
        justify-content: space-around;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    }

    .div10 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .number {
        color: #d62828;
        font-size: 2rem;
    }

    .p1 {
        color: #d62828;
    }

    .section4 {
        margin: 2rem;
    }

    .div11 {
        display: flex;
        justify-content: space-between;
        background-color: white;
        height: 20vh;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        align-items: center;
        padding: 1rem;
        width: 100%;
    }

    .btn {
        display: inline-block;
        background-color: #d62828;
        padding: 12px 25px;
        color: #fff;
        border-radius: 4px;
        font-weight: 600;
        transition: 0.3s;
        border: 2px solid white;
        font-size: 0.5rem;
    }

    form {
        display: flex;
        gap: 1rem;
    }

    input {
        padding: 0.3rem;
    }

    .div13 {
        display: flex;
        justify-content: flex-end;
        margin-top: -3.5rem;
    }

    .p2 {
        font-size: 0.7rem;
    }

    .p3 {
        font-size: 0.8rem;
    }

}